@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0b0f1a;
}

/* This file imports Tailwind's three main layers. 
  The 'base' layer includes the custom font definitions (Poppins) 
  and default styles configured in tailwind.config.js, 
  which is why we don't need to manually import the font here.
*/
